<h1 mat-dialog-title>Request product</h1>
<div mat-dialog-content>
    <form [formGroup]="requestForm">
        <mat-form-field>
            <mat-label>Your pharmacy</mat-label>
            <select matNativeControl formControlName="pharmacyId">
              <option *ngFor="let pharmacy of pharmacies" [value]="pharmacy.id">{{
                pharmacy.name
              }}</option>
            </select>
            <mat-error
              *ngIf="pharmacyId?.errors.required"
            >
              Pharmacy is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Product name" type="text" formControlName="name">
            <mat-error *ngIf="name.invalid && name.errors.required">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantity" type="number" formControlName="quantity">
            <mat-error *ngIf="quantity.invalid && quantity.errors.required">This field is required.</mat-error>
            <mat-error *ngIf="quantity.invalid && quantity.errors.min">Mininum value is 1.</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">Close</button>
    <button mat-raised-button  color="primary" (click)="submit()">Submit</button>
</div>