<h1 mat-dialog-title>Request product</h1>
<div mat-dialog-content>
    <form [formGroup]="requestForm">
        <mat-form-field>
            <input matInput placeholder="First and last name" type="text" formControlName="name">
            <mat-error *ngIf="name.invalid && name.errors.required">This field is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <span matPrefix>+40 &nbsp;</span>
            <input matInput placeholder="Phone number" type="tel" formControlName="phoneNumber">
        </mat-form-field>
    </form>
</div>