<h1 mat-dialog-title>Reserve product</h1>
<div mat-dialog-content>
    <form [formGroup]="reserveForm">
        <mat-form-field>
            <input matInput placeholder="Quantity" type="number" formControlName="quantity">
            <mat-error *ngIf="quantity.invalid && quantity.errors.required">This field is required.</mat-error>
            <mat-error *ngIf="quantity.invalid && quantity.errors.min">Mininum value is 1.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Pickup Time" formControlName="pickupTime">
            <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">Close</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>