<div class="med-list">
    <mat-card class="med-card" *ngFor="let med of meds">
        <mat-card-header class="med-card-header">
            <mat-card-title>{{med.name}}</mat-card-title>
            <mat-card-subtitle>Pharmacy: {{med.pharmacy==0 ? 'Catena' : 'None'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <a href="{{med.url}}">
                See in store
            </a>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Reserve now</button>
            <button mat-button (click)="navigateToMap()">See on map</button>
        </mat-card-actions>
    </mat-card>
</div>