$toolbar-title-padding: 16px !default;
$nav-list-icon-padding: 12px !default;

.mat-sidenav-content {
  height: 88vh;
}

.mat-sidenav {
  width: 320px;
}

.medifii-navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.toolbar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-list-icon {
  margin: 0 $nav-list-icon-padding 0 $nav-list-icon-padding;
}
