<div class="container">
    <mat-tab-group dynamicHeight class="login-tab-group">
        <mat-tab label="Login">
            <form class="login mat-elevation-z4">
                <mat-form-field>
                    <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <button mat-fab color="primary">Login</button>
            </form>
        </mat-tab>
        <mat-tab label="Register">
            <form class="signup mat-elevation-z4">
                    <mat-form-field>
                        <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Username">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Repeat password">
                    </mat-form-field>
                    <button mat-fab color="primary">Register</button>
            </form>
        </mat-tab>
    </mat-tab-group>
    <div class="background">
        <img src="../../../../assets/login_bck2.png" alt="">
    </div>
</div>