<div class="container">
    <mat-tab-group dynamicHeight class="login-tab-group">
        <mat-tab label="Login">
            <form class="login mat-elevation-z4">
                <mat-form-field>
                    <input matInput placeholder="Username">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error> -->
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error> -->
                </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab label="Register">
            <form class="signup mat-elevation-z4">
                    <mat-form-field>
                        <input matInput placeholder="Email">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Username">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Repeat password">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error> -->
                    </mat-form-field>
            </form>
        </mat-tab>
    </mat-tab-group>
    <div class="background">
        <img src="../../../../assets/login_bck.png" alt="">
    </div>
</div>